<%= semantic_form_for @event do |f| %>
  <%= f.inputs do %>
    <%= f.input :name %>
    <%= f.input :event_date, :as => :datepicker %>
    <%= f.input :location %>
    <%= f.input :credits, :as => :select, :collection => [1,2,3,4,5] %>
    <% if not @users.nil? %>
      <h2>Attendees</h2>
      <table>
      <% for user in @users %>
        <tr><td><%= user.name %></td>
        <td><%= select("class_played[#{[user.id]}]","player_class_id", @player_classes, {:selected => @class_played[user.id]["player_class_id"],:include_blank => true}) %></td>
        </tr>
      <% end %>
      </table>
    <% end %>
  <% end %>
  <%= f.buttons %>
<% end %>
