<% title "Event" %>

<p>
  <strong>Event Date:</strong>
  <%= @event.event_date %>
</p>
<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>
<p>
  <strong>Credits:</strong>
  <%= @event.credits %>
</p>
<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<% if not @attendees.nil? %>
  <table class="attendeelist">
    <tr><th>Player</th><th>Class Played</th></tr>
    <% for attendee in @attendees.sort{|x,y| x.player.name <=> y.player.name} %>
      <tr>
        <td><%= link_to "#{attendee.player.name}", attendee.player %></td>
        <td><%= attendee.player_class.name %></td>
      </tr>
    <% end %>
  </table>
<% end %>
<p>
  <%= link_to "Edit", edit_event_path(@event) %> |
  <%= link_to "Destroy", @event, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", events_path %>
</p>
