<%= form_for @player do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :dues_paid %><br />
    <%= f.check_box :dues_paid %>
  </p>
  <p>
    <%= f.label :dues_paid_through %><br />
    <%= f.date_select :dues_paid_through %>
  </p>
  <p><%= f.submit %></p>
<% end %>
