<% title "Player Event" %>

<p>
  <strong>Player:</strong>
  <%= @player_event.player_id %>
</p>
<p>
  <strong>Event:</strong>
  <%= @player_event.event_id %>
</p>
<p>
  <strong>Player Class:</strong>
  <%= @player_event.player_class_id %>
</p>

<p>
  <%= link_to "Edit", edit_player_event_path(@player_event) %> |
  <%= link_to "Destroy", @player_event, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", player_events_path %>
</p>
